{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": {
            "chrome": 60
          }
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "babel-plugin-date-fns"
  ]
}