@import  '~minireset.css/minireset.css'; 

body {
  font-family: -apple-system, Segoe UI, Helvetica Neue, Hiragino Kaku Gothic ProN, 'メイリオ', meiryo, sans-serif;
}

a {
  color: #005fc0;
  text-decoration: none;

  &:hover {
    color:  #e20;
  }
}